@import './components/navbar.scss';
@import './components/gradient-bg.scss';


@import './pages/post.scss';

body {
    max-height: 100vh;
}

@keyframes showOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

img {
    opacity: 0;
    animation: 0.5s ease-out 1s 1 showOpacity forwards !important;
}

a {
    text-decoration: none !important;
}

html {
    --gradient-horizontal: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    --gradient-vertical: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
    --dark-gradient-horizontal: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
    --dark-gradient-vertical: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 95%, rgba(0,0,0,1) 100%);
    --background: white;
    --secondary: #ccc;
    --invert: black;
    --invert-secondary: #333;
    --dark-opacity: 0;
    --dark-home-opacity: 0;
    max-width: 100vw;
    overflow-x: hidden;
    body {
        background: var(--background);
    }
}

html[data-theme="dark"] {
    --dark-opacity: 1;
    --dark-home-opacity: 0.9;
    --background: black;
    --secondary: #333;
    --invert: white;
    --invert-secondary: #ccc;
}