.post-list {
    color: var(--invert-secondary);
    margin-top: 30vh;
    .post-preview {
        .content {
            border-left: #ccc 1px dashed;
            padding-left: 30px;
            p {
                color: var(--invert-secondary);
            }
        }
    }
    .post-item {
        cursor: pointer;
        color: var(--invert-secondary);
        &.active {
            color: var(--background);
            height: 100%;
            background: linear-gradient(to right, var(--invert-secondary) 60%, rgba(0,0,0,0));
        }

        &:hover:not(.active) {
            border-bottom: #ccc 1px dashed;
        }
    }
}


.post-detail {
    min-height: 100vh;
    min-width: 100vw;
    .content {
        .content-body {
            min-height: 100vh;
            background: var(--background);
            transition: background 1s;
            *:not(a, .fab) {
                color: var(--invert-secondary)
            }

            #disqus-thread {
                margin-top: 30px;
                .comment-count {
                    color: var(--invert-secondary) !important;
                }

                .post-message {
                    color: var(--invert-secondary) !important;
                }
            }

            #comment {
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    color: var(--invert-secondary) !important;
                    font-weight: bold;
                }
            }

            .recommendation {
                margin: 50px 0;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                .next {
                    text-align: end;
                }
                div {
                    font-weight: bold;
                }
            }

            blockquote {
                margin-left: 0;
                padding-left: 3rem;
                font-style: italic;
                border-left: 1px dashed #ccc;
            }

            pre > code {
                background: var(--secondary);
            }

            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                border: dotted 2px #ccc;
                max-width: 40vw;
            };
        }
    
        .gradient-vertical::before {
            content: "";
            width: 100vw;
            height: 100vh;
            background: rgba(0,0,0, 200);
            background: var(--gradient-vertical);
            position: absolute;
            top: 0;
            z-index: 1;
            opacity: calc(1 - var(--dark-opacity));

            transition: opacity 1s;
        }

        .gradient-vertical::after {
            content: "";
            width: 100vw;
            height: 100vh;
            background: rgba(0,0,0, 200);
            background: var(--dark-gradient-vertical);
            position: absolute;
            top: 0;
            z-index: 1;
            opacity: var(--dark-opacity);
            
            transition: opacity 1s;
        }



        // .dark-gradient-vertical {
        //     width: 100vw;
        //     height: 100vh;
        //     background: rgba(0,0,0, 200);
        //     background: var(--gradient-vertical);
        // }
    }
    .title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        z-index: 2;
        h1 {
            color: white;
            background: rgba(0,0,0,0.8);
        }
    }
}